<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Pu-run</title>
    <link rel="stylesheet" href="/css/edit.css">
    </head>
    <body>
        <header>
            <%-include('header.ejs')%>
        </header>
        <div class="add-wrapper">
            <div class="add-container">
                <div class="add-form">
                    <form action="/update/<%=lists.id%>" method="post">
                    <ul>
                        <li>
                            <p>Task</p>
                            <input value="<%=lists.task%>"  type="text" name="task">
                        </li>
                        <li>
                            <p>Time(h)</p>
                            <input value="<%=lists.time%>" type="int" name="time">
                        </li>
                        <li><input class="submit" type="submit" value="Save"></li>
                    </ul>
                </form>
                </div>
            </div>
        </div>
        <footer>
            <%-include('footer.ejs')%>
        </footer>
    </body>
</html>